@font-face {
    font-family: norse-bold;
    src: url('Norse-Bold.otf');
}


body {
    display: flex;
}

h1 {
    font-family: norse-bold;
    font-size: 32px;
}

/* left side */
.left-side {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("coffee.avif");
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}

/* logo */
.logo {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    height: 20vh;
    width: 100%;
    bottom: 150px;
}

.logo-image {
    width: 10rem;
    height: 10rem;
    opacity: 1;
}

.logo-name {
    color: white;
    margin-right: 20px;
    opacity: 1;
}

/* right side */
.right-side {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.top-right {
    background-color: rgb(249, 250, 251);
    height: 100%;
}

.top-right > p{
    font-weight: bold;
    font-size: 24px;
}

.mid-right {

}

.bottom-right {
    background-color: rgb(249, 250, 251);
    height: 100%;
    width: 100%;
}


/* form */
.form-title {
    font-weight: bold;
    font-size: 36px;
}

form, .form-inputs-left, .form-inputs-right{
    display: flex;
    flex-direction: column;
}

.form-inputs {
    display: flex;
}

label {
    display: flex;
    text-align: left;
    text-transform: uppercase;
}

input {
    flex-flow: column wrap;
    margin-right: 50px;
}


button {
    background-color: #596D48;
}